@page
@model PersonalProfileModel
@{
    ViewData["Title"] = "Profile: ";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <form asp-page-handler="SaveProfileChanges" id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="UserInput.UserName" class="form-control" disabled />
                        <label asp-for="UserInput.UserName" class="form-label"></label>
                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="UserInput.FirstName" class="form-control" />
                        <label asp-for="UserInput.FirstName" class="form-label"></label>
                        <span asp-validation-for="UserInput.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-2">
                        <input asp-for="UserInput.MiddleName" class="form-control" />
                        <label asp-for="UserInput.MiddleName" class="form-label"></label>
                        <span asp-validation-for="UserInput.MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-2">
                        <input asp-for="UserInput.LastName" class="form-control" />
                        <label asp-for="UserInput.LastName" class="form-label"></label>
                        <span asp-validation-for="UserInput.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="UserInput.DisplayName" class="form-control" />
                        <label asp-for="UserInput.DisplayName" class="form-label"></label>
                        <span asp-validation-for="UserInput.DisplayName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="UserInput.PhoneNumber" class="form-control" />
                        <label asp-for="UserInput.PhoneNumber" class="form-label"></label>
                        <span asp-validation-for="UserInput.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <form asp-page-handler="UpdateProfilePicture" id="profile-picture-form" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="square-img-container">
                        <img id="contactImage" class="square-img" src="@Model.UserInput.ProfilePicture?.DecodedImage" alt="Profile Picture" />
                    </div>
                    <div class="mt-4">
                        <label asp-for="ProfilePictureFile" class="control-label" class="form-label">Select a profile picture for @Model.UserInput.Email</label>
                        <input type="file" asp-for="ProfilePictureFile" class="form-control" accept=".jpg,.jpeg,.svg,.png,.gif" onchange="document.getElementById('contactImage').src=window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="ProfilePictureFile" class="text-danger"></span>
                    </div>
                    <div class="mt-4">
                        <div class="form-check">
                            <input asp-for="DeleteProfilePictureCheckbox" class="form-check-input" />
                            <label asp-for="DeleteProfilePictureCheckbox">Delete profile picture</label>
                        </div>
                    </div>
                    <div class="mt-4">
                        <button id="update-profile-picture-button" type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
